
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/M12T2/519199686_c17f914fd4_c.jpg" class="img-fluid" alt="Kayaks by jamierytlewski is licensed under CC BY-NC-ND 2.0">
        </div>

        <div class="carousel-item">
            <img src="images/M12T2/4286730914_5e9979dabd_c.jpg" class="img-fluid" alt="Kayak by tkw954 is licensed under CC BY-NC-ND 2.0">
        </div>

        <div class="carousel-item">
            <img src="images/M12T2/4693818977_bc8c019eda_c.jpg" class="img-fluid" alt="Great Falls Kayaker by Mr.TinDC is licensed under CC BY-ND 2.0 ">
        </div>

        <div class="carousel-item">
            <img src="images/M12T2/7399923686_a5c2b9b802_c.jpg" class="img-fluid" alt="Kayaking on Durras Lake by Durras North is licensed under CC BY-NC 2.0">
        </div>

        <div class="carousel-item">
            <img src="images/M12T2/13810877515_47231922cc_c.jpg" class="img-fluid" alt="First paddle by Umnak is licensed under CC BY-SA 2.0">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>