<!--
/***************************************************************
* Name        : M9T2/Home/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 03/22/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 9 Topic 2
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model RegistrationModel
@{
    ViewBag.Title = "Registration System";
}


<form asp-action="Index" method="post">
    <div class="form-group row">
        <div class="col-sm-2"><label>Name:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>